# Ignore all
*

# Unignore files
!*.c
!*.h
!*.sh
!*.py
!.gitignore
!Makefile

# Unignore all dirs
!*/

# Ignore tests/obj and tests/include
tests/obj
tests/include

# Ignore asyncio.h header copied on top-level directory
/asyncio_*.h

# Ignore scratch directory
_scratch
